.block {
  position: relative;
  margin-top: 300px;
  @include desktop-medium {
    left: -70px;
  }
  @include laptop {
    left: -120px;
  }
  @include tablet {
    left: -150px;
  }
  @include mobile-large {
    left: -120px;
  }
  &_title {
    padding-left: 234px;
    padding-bottom: 70px;
    @include tablet {
      font-size: 32px;
      padding-left: 320px;
    }
    @include mobile-large {
      padding-left: 210px;
      padding-bottom: 120px;
    }
  }
  &_of_svg {
    padding-top: 200px;
    display: flex;
    gap: 250px;
    @include mobile-large {
      padding-top: 300px;
    }
    &_default {
      position: relative; 
      display: inline-block;
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        width: 89px;
        height: 89px;
        transform: rotate(45deg);
        background-color: rgb(215, 215, 215);
        border-radius: 13.5px;
        border: 12px solid rgba(255, 255, 255, 0.5);
        z-index: -1;
      }
    }
    &_title {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 1;
      color: white;
      &::after {
        content: '';
        position: absolute;
        width: 250px;
        height: 250px;
        top: -90px;
        left: -20px;
        transform: rotate(45deg);
        z-index: -1;
        border-radius: 25.5px;
        background: rgb(251, 36, 43);
      }
      &::before {
        content: '';
        position: absolute;
        width: 292px;
        height: 292px;
        top: -110px;
        left: -40px;
        transform: rotate(45deg);
        border-radius: 25.5px;
        background: rgba(251, 36, 43, 0.4);
        z-index: -1;
      }
      &_number {
        padding-left: 60px;
        position: absolute;
        top: -50px;
      }
    }
    &_description {
      position: absolute;
      width: 500px;
      left: -20px;
        &::before {
          content: '';
          position: absolute;
          width: 330px;
          height: 330px;
          border-radius: 25.5px;
          background: rgba(251, 36, 43, 0.3);
          top: -130px;
          left: -40px;
          transform: rotate(45deg);
          z-index: -1;
      }
    }
    &_smile {
      margin-top: 50px;
      position: absolute;
      z-index: 2;
    }
    &_first_half_of_svg {
      color: black;
      &_0 {
        position: relative;
        top: -200px;
        left: 400px;
        @include tablet {
          left: 350px;
        }
        @include mobile-large {
          left: 700px;
          top: -130px;
        }
      }
      &_1 {
        position: relative;
        top: -130px;
        left: 100px;
        @include mobile-large {
          left: 580px;
          top: -310px;
        }
      }
      &_2 {
        position: relative;
        left: 160px;
        @include tablet {
          left: 120px;
        }
        @include mobile-large {
          top: -500px;
          left: 450px;
        }
      }
      &_3 {
        position: relative;
        top: 80px;
        left: -40px;
        @include tablet {
          left: 160px;
          top: 50px;
        }
        @include mobile-large {
          top: -470px;
          left: 300px;
        }
      }
      &_4 {
        position: relative;
        top: 190px;
        left: 130px;
        @include tablet {
          left: 285px;
          top: 160px;
        }
        @include mobile-large {
          top: -350px;
          left: 100px;
        }
        &_logo {
          position: relative;
          left: 10px;
        }
      }
    }
    &_second_half_of_svg {
      color: black;
      &_0 {
        position: relative;
        top: -215px;
        left: 40px;
        @include mobile-large {
          top: 100px;
          left: 70px;
        }
      }
      &_1 {
        position: relative;
        top: -150px;
        left: 190px;
        @include tablet {
          left: 180px;
          top: -130px;
        }
        @include mobile-large {
          left: -115px;
          top: 230px;
        }
      }
      &_2 {
        position: relative;
        left: 30px;
        top: -10px;
        @include tablet {

        }
        @include mobile-large {
          left: -180px;
          top: 270px;
        }
        &_logo {
          position: relative;
          left: 10px;
        }
      }
      &_3 {
        position: relative;
        top: 70px;
        left: 80px;
        @include tablet {
          left: 70px;
          top: 100px;
        }
        @include mobile-large {
          left: -370px;
          top: 120px;
        }
        &_logo {
          position: relative;
          top: 20px;
          left: -5px;
        }
      }
      &_4 {
        position: relative;
        top: 195px;
        left: -220px;
        @include tablet {
          left: 45px;
          top: 165px;
        }
        @include mobile-large {
          top: -30px;
          left: -455px;
        }
        &_logo {
          position: relative;
          left: -5px;
        }
      }
    }
  }
}