.home {
  width: 100%;
  margin-left: 15.6vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @include desktop-medium {
    margin-left: 123px;
    margin-right: 130px;
  }
  @include tablet {
    margin-left: 40px;
    margin-right: 40px;
  }
  @include mobile-large {
    margin-left: 16px;
    margin-right: 16px;
  }
}