.block {
  display: flex;
  flex-direction: column;
  gap: 9px;
  @include tablet {
    width: 516px;
  }
  @include mobile-large {
    width: inherit;
    gap: 12px;
  }
  &_item {
    font-size: 16px ;
    display: flex;
    gap: 10px;
    width: 500px;
    @include mobile-large {
      align-items: center;
    }
    @include mobile {
      width: auto;
    }
    &_rectangle {
    }
    &_text {
      padding-left: 13px;
    }
  }
}