.wrapper {
  width: 100%;
  margin-left: 15.6vw;
  padding-top: 16.6vh;
  position: relative;

  &__block {
    width: 20vw ;
    height: auto;
    &_barker {
      padding-left: 30px;
    }
    &_title {
      display: flex;
    }
    &_description {
      padding-top: 16px;
      color: var(--text-color-third);
    }
    &_button {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    padding-left: 150px;
    width: 100%;
    z-index: -1;
    height: 100%;
    // +70px при 1400 left
    &_svg {
      &_firstRectangle {
        position: absolute;
        right: 290px;
        top: -80px;
      }
      &_secondRectangle {
        position: absolute;
        right: 290px;
        top: -80px;

      }
      &_thirdRectangles {
        position: absolute;
        right: 875px;
        top: 150px;
        color: var(--color-gradient-radial-20);
      }
      &_fourthRectangles {
        position: absolute;
        right: 500px;
        top: 500px;
        color: var(--color-gradient-radial-20);
      }
      &_screenshot {
        position: absolute;
        right: 320px ;
        top: 10px;
        // +600px left
        &_mobile {
          position: absolute;
          top: 325px;
          left: 570px;
        }
      }

    }
  }
}
.active {
  color: var(--text-color-primary);
  &_end {
    color: black;
  }
}