.wrapper {
  width: 100%;
  padding-top: 16.6vh;
  position: relative;
  @include mobile-large {
    padding-top: 7vh;
  }

  &__block {
    width: 20vw;
    height: auto;
    @include mobile-large {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
    }

    &_barker {
      padding-left: 30px;
    }

    &_title {

      @include mobile-large {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    &_description {
      padding-top: 16px;
      color: var(--text-color-third);
      @include mobile-large {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &_first {
      }

      &_second {

      }
    }

    &_button {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    padding-left: 150px;
    width: 100%;
    z-index: -1;
    height: 100%;
    @include desktop-medium {
      left: 400px;
    }
    @include tablet {
      left: 600px;
    }
    @include mobile-large {
      left: 120px;
      top: 400px;
    }
    @include mobile {
      top: 325px;
      left: 370px;
    }

    &_svg {
      &_firstRectangle {
        position: absolute;
        right: 290px;
        top: -80px;
        @include mobile-large {
          right: 230px;
          top: -120px;
        }
      }

      &_secondRectangle {
        position: absolute;
        right: 290px;
        top: -80px;

      }

      &_thirdRectangles {
        @include mobile-large {
          right: 680px;
          top: 0px;
        }
        position: absolute;
        right: 1050px;
        top: 230px;
        color: var(--color-gradient-radial-20);
      }

      &_fourthRectangles {
        @include mobile-large {
          right: 290px;
        }
        position: absolute;
        right: 500px;
        top: 500px;
        color: var(--color-gradient-radial-20);
      }

      &_screenshot {
        position: absolute;
        right: 320px;
        top: 10px;
        width: 851px;
        @include mobile-large {
          right: -150px;
          top: -50px;
          width: 801px;
          height: 533px;
        }
        @include mobile {
          width: 630px;
          right: 30px;
          top: 80px;
        }
        &_mobile {
          position: absolute;
          top: 325px;
          left: 570px;
          height: 420px;
          @include desktop-medium {
            left: 125px;
          }
          @include tablet {
            left: -300px;
          }
          @include mobile-large {
            top: 220px;
            left: -100px;
          }
          @include mobile {
            left: -380px;
            width: 170px;
            top: 280px;
          }
        }
      }

    }
  }
}

.active {
  color: var(--text-color-primary);

  &_end {
    color: black;
  }
}