.wrapper {
  width: 100%;
}

.white_button {
  background-color: var(--color-button-second);
  color: var(--color-button-text);
  border-radius: var(--border-radius-button);
  width: 156px;
  height: 48px;

  &:hover {
    background-color: var(--color-button-hover);
  }
}

.red_button {
  background-color: var(--color-button-primary);
  color: var(--color-button-second);
  border-radius: var(--border-radius-button);
  width: 156px;
  height: 48px;

  &:hover {
    background-color: rgba(255, 71, 77, 0.8);
  }
}
